
<%= stylesheet_link_tag 'reset', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'newspaper', 'data-turbolinks-track' => true %>


     <nav class='navbar clear'>
            <%= link_to root_path do %> <div class='nav-brand'><%= @group.site.name %></div><% end %>
      <div class='nav-links'>
        <ul>
        <% @group.site.groups.reverse.each do |x| %>
          <% if x.nav = true %>
          <li>
            <%= link_to x.name,group_path(x.id)%> 
          </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </nav>

    <section class='page-container'>
      <% if @groups.last.images.first.nil? %>
        <img src='http://placehold.it/800x150&text=No+Image+Found'>
      <% else %>
        <%= image_tag '/images/#{@groups.last.images.first.id}' %>
      <% end %>
      <% @group.contents.reverse.each do |x| %>
        <% if x.featured == true %>
      <%= link_to content_path(x.id) do%>
      <article class='featured-post clear'>
      <% if x.images.first.nil? %>
        <img src='http://placehold.it/200x200&text=No+Image+Found'>
      <% else %>
        <%= image_tag '/images/#{x.images.first.id}' %>
      <% end %>
        <h2><%= x.title %></h2>
        <h4><%= x.subtitle%></h4>
        <p><%= x.story.split(' ').slice(0, 50).join(' ') %>...</p>
      </article>
      <% end %>
      <% end %>
      <% end %>
      <% @group.contents.reverse.each do |x| %>
        <% if x.featured == false %>
      <%= link_to content_path(x.id) do%>
      <article class='article-link clear'>
      <% if x.images.first.nil? %>
        <img src='http://placehold.it/150x150&text=No+Image+Found'>
      <% else %>
        <%= image_tag '/images/#{x.images.first.id}' %>
      <% end %>
        <div class='content'>
        <h2><%= x.title %></h2>
        <h4><%= x.subtitle%></h4>
        <p><%= x.story.split(' ').slice(0, 50).join(' ') %>...</p>
        </div>
      </article>
      <% end %>
      <% end %>
      <% end %>
    </section>
