<h1>Admin</h1>

<% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>

<% if @site != nil %>

  <%= form_tag "/site/#{@site.id}", method: :put do %>

    <div class="site-name">
      <%= label_tag "site[name]", "Name:" %><br/>
      <%= text_field_tag "site[name]", "#{@site.name}" %>
    </div>

    <div class="site-headline">
      <%= label_tag "site[headline]", "Headline:" %><br/>
      <%= text_field_tag "site[headline]", "#{@site.headline}" %>
    </div>

    <div class="site-logo">
      <%= label_tag "site[logo]", "Logo:" %><br/>
      <%= file_field_tag "site[logo]" %>
    </div>

    <div class="site-theme">
      <%= label_tag "site[theme]", "Theme:" %><br/>
      <%#= select_tag "site[theme]", options_for_select(@themes, "id", "name") %>
    </div>


    <%= submit_tag "Submit" %>

  <% end %>

  <h3>Groups</h3>
  <ol>
    <% @groups.each do |group| %>
      <li>
        <%= link_to "Edit #{group.name}", "/groups/#{group.id}/edit" %>
      </li>
    <% end %>
  </ol>

<% end %>
