<div class="dashboard">

  <!-- SIGN OUT -->
  <div class="header clear">
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>

    <h1><span class="jandr">Jandr</span> Dashboard</h1>
  </div>

  <div class="border"></div>

<!-- IF SITE HAS BEEN CREATED -->
  <% if @site != nil %>

    <!-- EDIT SITE FORM / AJAX -->
    <div class="edit-site">
      <div class="edit-site-data clear">
        <%= form_tag "/site/#{@site.id}", class: "site-data-form", method: :put, remote: true do %>

          <!-- <div class="data"> -->
            <!-- SITE NAME -->
            <div class="site-name site-data">
              <%= label_tag "site[name]", "Name:", class: "site-data-label" %><br/>
              <%= text_field_tag "site[name]", "#{@site.name}", class: "site-data-input" %>
            </div>

            <!-- SITE HEADLINE -->
            <div class="site-headline site-data">
              <%= label_tag "site[headline]", "Headline:", class: "site-data-label"  %><br/>
              <%= text_field_tag "site[headline]", "#{@site.headline}", class: "site-data-input" %>
            </div>
          <!-- </div> -->

          <!-- EDIT SITE SUBMIT BUTTON -->
          <div class="site-submit site-data">
            <%= submit_tag "Submit Site Text", class: "site-data-submit-button submit" %>
          </div>

          <!-- SITE THEME / OPTIONAL -->
          <!-- <div class="site-theme"> -->
            <%#= label_tag "site[theme]", "Theme:" %>
            <%#= select_tag "site[theme]", options_for_select(@themes, "id", "name") %>
          <!-- </div> -->

        <% end %>
      </div><!-- //EDIT SITE DATA -->

      <!-- DISPLAY CURRENT SITE LOGO -->
      <div class="edit-site-logo">
        <div class="current-logo">
          <h4 class="site-logo-header">Current Site Logo:</h4>
          <% if @logo %>
            <%= image_tag "/images/#{@logo.id}", class: "current-site-logo" %>
          <% end %>
        </div>

        <div class="border"></div>

        <div class="new-site-logo">
          <!-- UPLOAD LOGO FORM -->
          <% if @logo != nil %>
            <% @logo_url = "/images/#{@logo.id}" %>
            <% @logo_request = :put %>
          <% else %>
            <% @logo_url = "/images" %>
            <% @logo_request = :post %>
          <% end %>
          <%= form_tag "#{@logo_url}", method: @logo_request, multipart: true do %>

            <!-- FILE UPLOAD FOR LOGO -->
            <div class="site-logo">
              <%= label_tag "picture", "Create New Logo:", class: "update-logo" %>
              <p class="warning-text">Logo should be 800px wide x 150px high.</p>
              <%= file_field_tag "picture", class: "logo-input" %>
            </div>

            <!-- SUBMIT BUTTON AND WARNING -->
            <div class="site-logo">
              <%= submit_tag "Upload Logo", class: "submit-logo" %>
              <p class="warning-text">Clicking Upload Logo will refresh the page. Be sure to save all your information first!</p>
            </div>

            <%= hidden_field(:image, :imageable_type, value: "site") %>
            <%= hidden_field(:image, :imageable_id, value: @site.id) %>

          <% end %>
        </div><!-- //NEW SITE LOGO -->

      </div><!-- //EDIT SITE LOGO -->

    </div><!-- //EDIT SITE FORM -->

    <!-- CREATE NEW GROUP / BUILD AJAX FORM REQUEST AND INSERT IT ON DOM -->
    <!-- <div class="create-group"> -->
      <%#= link_to "Create a Group", new_group_path, remote: true, class: "create-group-button" %>
    <!-- </div> -->
    <h4 class="edit-group-button">Create Group</h4>

    <div class="new-group-form" style="display:none;"></div>

    <!-- GROUPS -->
    <div class="edit-groups">
      <% @groups.each do |group| %>

        <script>
          $(document).ready(function(){
            $('.edit-group-'+<%= group.id %>+'-form').slideUp();

            $('.edit-group-'+<%= group.id %>).on('click', function(){
              $('.edit-group-'+<%= group.id %>+'-form').slideToggle();
            });

          });
        </script>
        <!-- MAKE LINK THAT SHOWS THE EDIT GROUP FORM BELOW IT -->
        <h4 class="edit-group-button edit-group-<%= group.id %>">Edit Group <%= group.name %></h4>

        <!-- EDIT GROUP FORM / AJAX-->
        <div class="edit-group-<%= group.id %>-form edit-group-form">
          <%= form_tag "/groups/#{group.id}", method: :put, remote: true do %>

            <!-- EDIT GROUP NAME -->
            <div class="edit-group-name">
              <%= label_tag "group[name]", "Name:" %>
              <%= text_field_tag "group[name]", "#{group.name}" %>
            </div>

            <!-- EDIT WHETHER GROUP IS IN NAVBAR -->
            <div class="edit-group-nav">
              <%= label_tag "group[nav]", "In the Navbar:" %>
              <% if group.nav %>
                <input checked="checked" id="group[nav]" name="group[nav]" type="checkbox" /><!-- Went around form helpers because value was changing with "checked" -->
              <% else %>
                <%= check_box_tag "group[nav]" %>
              <% end %>
            </div>

            <!-- EDIT GROUP SUBMIT BUTTON -->
            <div class="edit-group-submit">
              <%= submit_tag "Submit Group" %>
            </div>

          <% end %>


          <!-- CREATE NEW CONTENT / BUILD AJAX FORM REQUEST AND INSERT IT ON DOM -->
          <div class="create-content">
            <%= link_to "Create Content for #{group.name}","/groups/#{group.id}/contents/new", remote: true %>
          </div>
          <div class="new-content-form" style="display:none;"></div>

          <!-- CONTENTS -->
          <h3>Contents of <%= group.name %></h3>
          <% @contents = Content.where(group_id: group.id) %>
          <% @contents.each do |content| %>

            <script>
              $(document).ready(function(){
                $('.edit-content-'+<%= content.id %>+'-form').slideUp();

                $('.edit-content-'+<%= content.id %>).on('click', function(){
                  $('.edit-content-'+<%= content.id %>+'-form').slideToggle();
                  // console.log(num);
                });

              });
            </script>

            <!-- MAKE LINK THAT SHOWS THE EDIT CONTENT FORM BELOW IT -->
            <h4 class="edit-content-<%= content.id %>">Edit <%= content.title %></h4>

            <!-- EDIT CONTENT FORM / AJAX -->
            <div class="edit-content-<%= content.id %>-form">
              <%= form_tag "/contents/#{content.id}", method: :put, remote: true do %>

                <!-- EDIT CONTENT TITLE -->
                <div class="edit-content-title">
                  <%= label_tag "content[title]", "Title:" %><br/>
                  <%= text_field_tag "content[title]", "#{content.title}" %>
                </div>

                <!-- EDIT CONTENT SUBTITLE -->
                <div class="edit-content-subtitle">
                  <%= label_tag "content[subtitle]", "Subtitle:" %><br/>
                  <%= text_field_tag "content[subtitle]", "#{content.subtitle}" %>
                </div>

                <!-- EDIT CONTENT STORY -->
                <div class="edit-content-story">
                  <%= label_tag "content[story]", "Story:" %><br/>
                  <%= text_area_tag "content[story]", "#{content.story}" %>
                </div>

                <!-- EDIT WHETHER CONTENT IS FEATURED CONTENT -->
                <div class="edit-content-featured">
                  <%= label_tag "content[featured]", "Featured:" %><br/>
                  <% if content.featured %>
                    <input checked="checked" id="content[featured]" name="content[featured]" type="checkbox" /><!-- Went around form helpers because value was changing with "checked" -->
                  <% else %>
                    <%= check_box_tag "content[featured]" %>
                  <% end %>
                </div>

                <!-- EDIT CONTENT SUBMIT BUTTON -->
                <div class="edit-content-submit">
                  <%= submit_tag "Submit Content" %>
                </div>

              <% end %><!-- //EDIT CONTENT FORM -->

              <!-- GET CONTENT IMAGE -->
              <% @content_image = Image.find_by(imageable_type: "content", imageable_id: content.id) %>

              <!-- DISPLAY CURRENT CONTENT IMAGE -->
              <div class="content Image">
                <h4>Current Content Image</h4>
                <% if @content_image %>
                  <%= image_tag "/images/#{@content_image.id}" %>
                <% end %>
              </div>

              <!-- UPLOAD CONTENT IMAGE FORM -->
              <% if @content_image != nil %>
                <% @image_url = "/images/#{@content_image.id}" %>
                <% @image_request = :put %>
              <% else %>
                <% @image_url = "/images" %>
                <% @image_request = :post %>
              <% end %>
              <%= form_tag "#{@image_url}", method: @image_request, multipart: true do %>

                <!-- FILE UPLOAD FOR LOGO -->
                <div class="content-image">
                  <%= label_tag "picture", "New Content Image:" %><br/>
                  <%= file_field_tag "picture" %>
                </div>

                <!-- SUBMIT BUTTON AND WARNING -->
                <div class="content-image">
                  <%= submit_tag "Upload Content Image" %>
                  <p class="warning-text">Clicking Upload Content Image will refresh the page. Be sure to save all your information first!</p>
                </div>

                <%= hidden_field(:image, :imageable_type, value: "content") %>
                <%= hidden_field(:image, :imageable_id, value: content.id) %>

              <% end %><!-- //UPLOAD CONTENT IMAGE -->
            </div><!-- //EDIT CONTENT FORM -->
          <% end %><!-- //CONTENT ITERATION -->
        </div><!-- EDIT GROUP FORM -->
      <% end %><!-- //GROUP ITERATION -->
    </div><!-- EDIT GROUPS -->
  <% end %><!-- //IF @SITE EXISTS -->
</div><!-- //DASHBOARD -->


<!-- <div class="image-uploader"> -->
  <!-- IMAGE UPLOADER -->
  <%#= form_tag "/site/#{@site.id}", method: :put do %>
      <!-- <h2 class="image-uploader-header">Image Uploader</h2> -->

      <div class="site-logo">
        <!-- <h4>Current logo</h4> -->
        <%#= image_tag "hello.jpg" %>
      </div>
      <div class="site-logo">
        <%#= label_tag "site[picture]", "Logo:" %>
        <%#= file_field_tag "picture" %>
      </div>

      <div class="site-logo">
        <%#= submit_tag "Upload Logo" %>
      </div>
  <%# end %>
<!-- </div> -->

<!-- REQUEST RESPONSE -->
<div id="container"></div>