<body>

<%= stylesheet_link_tag 'reset', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'newspaper', 'data-turbolinks-track' => true %>


     <nav class='navbar clear'>
            <%= link_to root_path do %> <div class='nav-brand'><%= @site.name %></div><% end %>
      <div class='nav-links'>
        <ul>
        <% @groups.reverse.each do |x| %>
          <% if x.nav = true %>
          <li>
            <%= link_to x.name,group_path(x.id)%> 
          </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </nav>

    <section class='page-container'>
      <img src='http://placehold.it/800x150&text=<%= @groups.last.name%>'>
      <% @groups.last.contents.reverse.each do |x| %>
        <% if x.featured == true %>
      <%= link_to content_path(x.id) do%>
      <article class='featured-post clear'>
        <img src=<%= x.images.first %> alt='Cannot Find Image'>
        <h2><%= x.title %></h2>
        <h4><%= x.subtitle%></h4>
        <p><%= x.created_at %></p>
        <br>
        <p><%= x.story %></p>
      </article>
      <% end %>
      <% end %>
      <% end %>
      <% @groups.last.contents.reverse.each do |x| %>
        <% if x.featured == false %>
      <%= link_to content_path(x.id) do%>
      <article class='article-link clear'>
        <img src=<%= x.images.first %> alt='Cannot Find Image'>
        <h2><%= x.title %></h2>
        <h4><%= x.subtitle%></h4>
                <p><%= x.created_at %></p>
        <br>
        <p><%= x.story %></p>
      </article>
      <% end %>
      <% end %>
      <% end %>
    </section>

  </body>
</html>